.main-div {
    margin: 0;
    padding: 0;
    background: url("../img/afternoon-4175917_1920.jpg") no-repeat center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
    text-align: center;
}

h3 {
    color: #ffffff;
    text-shadow: 2px 2px #1e272e;

}

.outer-div
{
    padding: 30px;
    text-align: center;
    display: inline-block
}

.inner-div
{
    display: inline-block;
    padding: 50px;
}